<table class="table fixed-table">
  <tr>
    <td *ngFor="let config of getTableConfig(tweets[0])" class="{{config.titleClassName}}">{{config.title}}</td>
  </tr>
  <ng-container *ngFor="let tweet of tweets">
    <tr>
      <td *ngFor="let config of getTableConfig(tweet)" class="{{config.cellClassName}}">{{config.value}}</td>
    </tr>
  </ng-container>
</table>
<ngb-pagination
  *ngIf="tweets.length"
  [(page)]="page"
  [collectionSize]="tweets.length"
  [pageSize]="pageSize">
</ngb-pagination>
