/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.nav-tabs {
  border-bottom: none;
  padding-bottom: 0;

  .nav-link {
    color: black;

    &.active {
      color: #007BFF;
    }
  }
}
